body {
  display: block;
  text-align: center;
  font-family: cursive;
}

form {
    padding-top: 25px;
}

h3 {
  line-height: 25px;
}

#temp-wrapper {
  padding: 25px;
}

#temp {
  font-size: 35pt;
}
ul {
  list-style: none;
}

button {
  margin: 15px;
  background: cyan;
}